<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 landing-page">
				<h1>Welcome!</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quae quod quis, nobis dignissimos nisi obcaecati libero pariatur nihil non labore quaerat iste totam commodi cumque magnam voluptatem asperiores maiores?</p>
				<p>Please feel free to <%= link_to "Login", "#" %> or <%= link_to "Sign Up", "#" %></p>
			</div>
		</div>
    </div>
</div>
</div>
